|<? 
|   $abc = 30;
|   $tmp = array('a' => 1, 'b' => 4, 'c' => 9);
|?>
|
|
doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
      <?
        $abc = 300;
      ?>
      console.log('abc', <?=$abc?>);
  body
    h1 Pug - node template engine<?=$abc?>
    h1= 'Pug - node template engine<?=$abc?>'
    h1!= 'Pug - node template engine<?=$abc?>'
    |
    |<?foreach($tmp as $ck => $cv){?>
    #container.col(test!='<?=$abc?>')
      .aaa.eee(bbb!='<?=$ck?>') <?=$cv?>
      div(class!='<?=$ck?>' id!='<?=$cv?>') uuu<?=$cv?>
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
    |      
    |<?}?>
